:root {
    --header-height: 60px;
}

.header {
    display: flex;
    height: var(--header-height);
    width: 100%;
    background-color: dodgerblue;
}

.menu-item {
    width: 100px;
    cursor: pointer;
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: var(--header-height);
}

.active {
    background-color: rgb(0, 103, 206);
}
